/** ADD YOUR AWESOME CODES HERE **/

/* Button Contact */
.btn-red {
  background-color: #e62121;
  color: white;
  font-weight: 400;
}

.btn-red:hover {
  background-color: #f31909;
  color: white;
  font-weight: 400;
}